.landing {
  > * {
    &:nth-child(even) {
      background-color: var(--background-1);
    }

    &:nth-child(odd) {
      background-color: var(--background-2);
    }

    border-bottom: 1px solid var(--border);
  }

  .header {
    background-color: var(--background-1);
  }

  .intro {
    padding: 96px 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    // border-bottom: 1px solid #e5e7eb;

    .title {
      font-size: 52px;
      font-weight: 600;

      color: var(--white);
    }

    .logo {
      width: 96px;
      height: 96px;
    }

    .button-holder {
      margin-top: 12px;

      :last-child {
        margin-left: 12px;
      }

      .dashbord {
        background-color: transparent;
        border: 1px solid var(--white);

        font-weight: 700;
        font-size: 17px;

        padding: 12px 24px;

        border-radius: 1000px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .section {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 128px 0;

    .title {
      font-size: 52px;
      font-weight: 600;

      line-height: 60px;

      max-width: 560px;
      text-align: center;

      color: var(--white);
    }

    .desc {
      margin-top: 28px;

      max-width: 800px;

      line-height: 30px;
      font-size: 20px;
      font-weight: 400;

      color: rgb(235, 236, 240);
    }
  }
}
