.create-form {
  * {
    background-color: rgba(35, 39, 47);

    color: rgb(255, 255, 255);
  }

  input {
    &::placeholder {
      color: rgb(255, 255, 255);
    }

    &:focus {
      background-color: rgba(35, 39, 47);
    }
  }
  .modal-content {
    border: 1px solid rgba(246, 247, 249, 0.05);
  }
}
