.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: var(--background-1);

  display: flex;
  align-items: center;

  padding: 0 20px;

  height: 64px;

  border-bottom: 1px solid var(--background-1);

  &.overflow {
    border-bottom: 1px solid var(--border);
  }

  .logo {
    width: 48px;
    height: 48px;
    // display: block;
  }

  .title {
    font-size: 24px;
    font-weight: 600;

    color: var(--white);

    margin-right: auto;

    margin-left: 12px;
  }

  .link {
    background-color: transparent;
    border: 0;

    border-radius: 1000px;

    font-size: 15px;
    font-weight: 500;

    margin-left: 12px;

    &:hover {
      background-color: var(--border);
    }
  }

  .link:last-child {
    color: #ffd700;
  }
}

.user-dropdown-menu {
  background-color: var(--background-1);
  color: var(--white);

  .dropdown-item {
    color: var(--white);

    &:hover {
      background-color: var(--background-1);

      opacity: 0.8;
    }
  }
}
