.create-form {
  input {
    &::placeholder {
      color: var(--white);
    }

    &:focus {
      background-color: var(--background-1);
    }
  }

  .modal-dialog {
    margin-top: 10%;
  }
  .modal-content {
    border: 1px solid var(--white);

    border-radius: 6px;
    overflow: hidden;

    * {
      background-color: var(--background-1);

      color: var(--white);

      font-weight: 600;
    }

    .header {
      font-size: 20px;
    }

    .loading {
      background-color: var(--theme);
    }

    .submit {
      background-color: var(--theme);

      border: var(--theme);

      &:hover {
        opacity: 0.8;
      }

      border-radius: 1000px;
    }
  }
}

.qrcode-holder {
  display: flex;
  justify-content: center;
  align-items: center;

  .qrcode {
    padding: 12px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.create {
  background-color: var(--theme) !important;
  border: 1px solid var(--theme) !important;

  font-weight: 700;
  font-size: 17px;

  padding: 12px 24px;

  border-radius: 1000px;

  &:hover {
    opacity: 0.8;
  }
}
