.display {
  display: flex;
  align-items: center;

  color: var(--white);
  font-weight: 600;

  > * {
    margin-right: 6px;
  }

  .operation {
    width: 24px;
    height: 24px;

    &:hover {
      opacity: 0.8;
    }

    cursor: pointer;
  }

  .success {
    animation: fadeIn 0.5s;
  }
}
