.manage {
  background-color: transparent !important;
  border: 1px solid var(--white) !important;

  font-weight: 700;
  font-size: 17px;

  padding: 12px 24px;

  border-radius: 1000px;

  &:hover {
    opacity: 0.8;
  }
}

.display-holder {
  display: flex;
  align-items: start;
  flex-direction: column;
}
